.language {
    font-family: Arial;
    font-weight: bold;
    font-size: 29px;
    color: black;
    padding: 0.1em 0.25em 0.1em 0.25em;
}

.level {
    font-family: Arial;
    font-weight: bold;
    font-size: 34px;
    padding: 0.1em 0.25em 0.1em 0.25em;
}

.l5 {
    color: cyan;
}

.l4 {
    color: #00ff00;
}

.l3 {
    color: yellow;
}

.l2 {
    color: orange;
}

.l1 {
    color: red;
}

.l0 {
    color: lightgrey;
}

.table-header {
    font-size: 50px;
}
