table {
    /* TODO make text bold? Change font to something nicer. */

   /* position: absolute;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, 0);*/

    max-width: 500px;
    margin: auto;

    border-collapse: collapse;

    font-size: 30px;
    font-family: "Trebuchet MS", Times, serif;
}

td {
    padding: 0.2em;
    white-space: nowrap;
}

.native {
    color: orange;
}

.fluent {
    background: cyan;
    color: black;
}

.intermediate {
    background: limegreen;
    /*color: limegreen;*/
}

.beginner {
    background: red;
}

.language {
    padding-right: 1em;
    width: 100%;
}
