body {
    font-size: 30px;
    font-family: "Trebuchet MS", Times, serif;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    color: black;
}

input {
    font-size: inherit;
}

table {
    border-collapse: collapse;
    font-size: inherit;
}

td {
    padding: 0;
}

button {
    border: 0;
    font-size: inherit;
}

body > button, form > button, form > input {
    width: 100%;
    padding: 0.3em 0.2em 0.3em 0.2em;
}

table + a {
    display: block;
    margin-top: 1em;
}

.l5 {
    color: #00f0ff;
}

.l4 {
    color: #00ff00;
}

.l3 {
    color: #f6f600;
}

.l2 {
    color: orange;
}

.l1 {
    color: red;
}

.l0 {
    color: lightgrey;
}

.language {
    font-family: Arial;
    font-weight: bold;
    font-size: 29px;
    color: black;
    padding: 0.1em 1em 0.1em 0.25em;
}

.level {
    font-family: Arial;
    font-weight: bold;
    font-size: 34px;
    padding: 0.1em 0.25em 0.1em 0.25em;
}

.border {
    border-bottom: 0.4em solid white;
}

.table-header {
    font-size: 50px;
    text-align: center;
}

#newacct {
    display: block;
    border: 0;
    font-size: inherit;
    width: 100%;
    padding: 0.3em 0 0.3em 0;
    background-color: #0000ff;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    margin-top: 0.4em;
}

#deleteacct {
    display: block;
    border: 0;
    font-size: inherit;
    width: 100%;
    padding: 0.3em 0 0.3em 0;
    text-align: center;
    background-color: red;
    color: white;
    text-decoration: none;
}

.failmsg {
    font-size: 20px;
    color: #ff0000;
}
