select {
    font-size: inherit;
}

td > button {
    height: 45px;
    width: 45px;
    text-align: center;
}

div > a + a {
    float: right;
}

button + p {
    border-top: 2px solid black;
    margin-bottom: 0.3em;
    padding-top: 0.5em;
}

.C, .B, .A {
    border-top: 5px solid white;
    border-bottom: 5px solid white;
}

.add-row {
    background-color: #ff9d00;
}

.add-button {
    background-color: #00ff00;
}

.remove-button {
    color: white;
    background-color: #ff0000;
}

#save-button {
    background-color: #ff9d00;
}

#save-button:hover {
    background-color: #ff9300;
}

#save-button:active {
    background-color: #ff8e00;
}

#save-button:disabled {
    background-color: #ffb650;
}

#save-button + #deleteacct {
    margin-top: 1.2em
}
