select {
    font-size: inherit;
}

td > button {
    height: 45px;
    width: 45px;
    text-align: center;
}

div > a + a {
    float: right;
}

button + p {
    border-top: 2px solid black;
    margin-bottom: 0.3em;
    padding-top: 0.5em;
}

.C, .B, .A {
    border-top: 5px solid white;
    border-bottom: 5px solid white;
}

.C.unsaved {
    background-color: #aaffff;
}

.B.unsaved {
    background-color: #ffff88;
}

.A.unsaved {
    background-color: #cecece;
}

.add-row {
    background-color: #ff9d00;
}

.add-button {
    background-color: #00ff00;
}

.remove-button {
    color: white;
    background-color: #ff0000;
}
