body {
    font-size: 30px;
    font-family: "Trebuchet MS", Times, serif;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    color: black;
}

input {
    font-size: inherit;
}

table {
    border-collapse: collapse;
    font-size: inherit;
}

td {
    padding: 0;
}

button {
    border: 0;
    font-size: inherit;
}

body > button, form > button, form > input {
    width: 100%;
    padding: 0.3em 0 0.3em 0;
}

.C, .N {
    background: #00ffff;
}

.B {
    background: #ffff00;
}

.A {
    background: #9E9E9E;
}

.C + .B, .B + .A, body > button, form > button {
    border-top: 0.4em solid white;
}

.language {
    padding: 0.1em 1em 0.1em 0.1em;
    width: 100%;
}

.level {
    font-family: Arial;
    font-weight: bold;
    font-size: 34px;
    color: purple;
    padding: 0.1em 0.8em 0.1em 0.1em;
}

.border {
    border-bottom: 0.4em solid white;
}
